.neon-blue {
    color: #00eaff !important;
    text-shadow:
        0 0 5px #00eaff,
        0 0 10px #00eaff,
        0 0 20px #00eaff,
        0 0 40px #00eaff;
    font-weight: bold;
}
@import 'bootstrap/scss/bootstrap';
@import 'bs_custom.scss';
h1,h2,h3,h4,h5{
    color: cyan !important;
    text-shadow: 0 0 5px cyan;
}
p{
    color: cyan !important;
    text-shadow: 0 0 5px cyan;
}

label{
    color: cyan !important;
    text-shadow: 0 0 5px red;
}
.red{
    color:red !important;
    text-shadow: 0 0 7px red;
}
body{
    background-image: url(images/bg.png);
    background-repeat:repeat;
    cursor: none;
}
.titlecontainer{
    width: 100%;
    height: 90px;
}
.titlemenubox{
    background-color:transparent;
    backdrop-filter: blur(10px);

    border-top: 2px solid cyan;
    border-bottom: 2px solid cyan;

    width: 100%;
    height: 65px;
    clip-path: polygon(0% 0,100% 0,100% 100%,0% 100%);
}
.joinpossible-text{
    font-size: 20px;
    position: absolute;    /* 中央固定したいなら絶対配置 */
    left: 50%;
    top:80%;
    transform: translate(-50%, 0%);
}
.joinpossible-subtext{
    font-size: 20px;
    position: absolute;    /* 中央固定したいなら絶対配置 */
    left: 50%;
    top:85%;
    transform: translate(-50%, 0%);
}
.list-group{
    font-size: 20px;
    position: absolute;    /* 中央固定したいなら絶対配置 */
    left: 50%;
    top:85%;
    width: 80%;
    transform: translate(-50%, 0%);
}

.titletext{
    width: 500px;
    height: 100px;
    background-color: cyan;

    backdrop-filter: blur(1px);
    border: 2px solid cyan;


    position: absolute;    /* 中央固定したいなら絶対配置 */
    left: 50%;
    top:0%;
    transform: translate(-50%, 0%);

    clip-path: polygon(0% 0, 100% 0, 90% 100%, 10% 100%);
}
.titletext_sub{
    width: 500px;
    height: 98px;
    position: absolute;    /* 中央固定したいなら絶対配置 */
    color: cyan;
    left: 50%;
    top: 30px;
    backdrop-filter: blur(1px);
    
    transform: translate(-50%);
    text-align: center;    /* テキスト中央寄せ */
}

.titletext_sub2{
    width: 500px;
    height: 98px;
    background-color: #0d0f0f;
    position: absolute;    /* 中央固定したいなら絶対配置 */
    color: cyan;
    left: 50%;
    backdrop-filter: blur(1px);
    
    transform: translate(-50%);
    text-align: center;    /* テキスト中央寄せ */
    clip-path: polygon(1% 1%, 99% 1%, 89% 98%, 11% 98%);
}

.greeting {
    margin-top:0px;
    margin-left:70%;
    font-size: 20px;
    color: cyan !important;
    text-shadow: 0 0 2px cyan;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
}

.greeting form {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    display: inline;
}
.card-header{
    background-color:#353535;
    color:white;
}
.card-body{
    background-color:black;
}

.game-btn{
    margin-top:40px;
    background-color:black;
    border:2px solid cyan;
    font-size:15px;
    border-radius:6px;
    color: cyan !important;
    text-shadow: 0 0 8px cyan;
    box-shadow: 0 0 8px cyan;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    box-shadow: 0 0 0 rgba(0, 255, 255, 0);

    /* ホバー時：ゆっくり大きくなる */
    &:hover {
        transform: scale(1.5); /* 5%拡大 */
    }

    /* クリック時：軽く縮む */
    &:active {
        transform: scale(0.97);
    }
}

.logout-btn{
    background-color:black;
    border:0px solid black;
    font-size:15px;
    border-radius:6px;
    color: cyan !important;
    text-shadow: 0 0 8px cyan;
    box-shadow: 0 0 8px cyan;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    box-shadow: 0 0 0 rgba(0, 255, 255, 0);
}

.all{
    padding-left:50px;
}

